{% comment 
# SPDX-FileCopyrightText: 2025 Artur Wiebe <artur@4wiebe.de>
# SPDX-License-Identifier: MIT
%}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"/>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" href="{{static_url(favicon) if favicon else 'data:,'}}">

	{% for href in stylesheets %}
		<link rel="stylesheet" href="{{href if href.startswith('http') else static_url(href)}}"/>
	{% end %}

	<script type="importmap">
		{ "imports": {% raw importmap %} }
	</script>
</head>

<body style="overscroll-behavior:contain;" class="vh-100">

	<div id="gui-view" class="h-100"></div>

	<dialog id="gui-disconnected"
		closedby="none"
		style="border:none; background-color:transparent; user-select:none;"
		oncancel="event.preventDefault()"
		onfocus="event.target.blur()"
	>
		<style>
			#gui-disconnected::backdrop { background-color: rgba(0, 0, 0, 0.4); }
		</style>
		<span style='font-size:200px;'>&#9940;</span>
	</dialog>

</body>

<script type="module">
	//{% for mjs in imports %}
		import '{{mjs}}';
	//{% end %}
	import('web').then(web => web.default());
</script>

</html>
