;linux
[SysFile]
FilePath.1=/etc/, 3S.dat
FilePath.2=/run/codesys/, setup
PlcLogicPrefix=1

[SysTarget]
TargetVersionMask=0
TargetVersionCompatibilityMask=0xFFFF0000

[CmpSocketCanDrv]
ScriptPath=/opt/codesys/scripts/
ScriptName=rts_set_baud.sh

[CmpSettings]
IsWriteProtected=1
FileReference.0=SysFileMap.cfg, SysFileMap
FileReference.1=/etc/CODESYSControl_User.cfg

[SysExcept]
Linux.DisableFpuOverflowException=1
Linux.DisableFpuUnderflowException=1
Linux.DisableFpuInvalidOperationException=1

[CmpOpenSSL] 
WebServer.Cert=server.cer 
WebServer.PrivateKey=server.key 
WebServer.CipherList=HIGH

[CmpLog]
Logger.0.Name=codesyscontrol.log
Logger.0.Filter=0x0000000F
Logger.0.Enable=1
Logger.0.MaxEntries=100000
Logger.0.MaxFileSize=1000000
Logger.0.MaxFiles=1
Logger.0.Backend.0.ClassId=0x0000010B ;writes logger messages to stdout (journal)
Logger.0.Type=0x314 ;Set the timestamp to RTC

[SysEthernet]
Linux.ProtocolFilter=3 

[CmpSchedule]
SchedulerInterval=4000
ProcessorLoad.Enable=1
ProcessorLoad.Maximum=95
ProcessorLoad.Interval=5000
DisableOmittedCycleWatchdog=1
