[ComponentManager]
Component.1=CmpSIL3SL
Component.2=CmpSafetyProxy

[SysFile]
PlcLogicPrefix=1
FilePath.1=/etc/codesyscontrol/, 3S.dat

[CmpSettings]
IsWriteProtected=1

[CmpLog]
;writes logger messages to stdout (journal)
Logger.0.Backend.0.ClassId=0x0000010B

[CmpDevice]
SessionTimeoutSec=4000000

[CmpSIL3SL]
IoBuffer_Name=CODESYSSafeControl_IO
;;ClientId of CODESYS TargetVisu
ClientId.0=0xED387206
ExtTime_Port=60000
ExtTimeTask_Prio=9
ApplicationTask_Prio=35
PinCore=0

[SysTarget]
TargetVersionMask=0xFF000000
TargetVersionCompatibilityMask=0xFFFF0000

[CmpBlkDrvTcp]
;proxy port 11740 by systemd on demand
ListenPort=11748
;LocalAddress=127.0.0.1

[CmpBlkDrvUdp]
MaxInterfaces=0
