[Unit]
Wants=app.socket
After=network.target
Wants=systemd-networkd-wait-online@sys.service
After=systemd-networkd-wait-online@sys.service


[Service]
SyslogIdentifier=app
ExecStart=/usr/bin/python -Bu /usr/lib/app

# real-time scheduling
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=10

Restart=on-failure
RestartSec=20
