[Unit]
Requires=weston.service
After=weston.service
After=network.target


[Service]
User=daemon

StateDirectory=wpe

Environment="XDG_RUNTIME_DIR=/run/xdg"
Environment="XDG_DATA_HOME=/var/lib/"
Environment="WAYLAND_DISPLAY=wayland-1"

ExecStart=cog --config=/etc/cog.conf --doc-viewer  http://sys
