[Unit]
Requires=weston.service
After=weston.service
After=network.target
Wants=systemd-networkd-wait-online@sys.service
After=systemd-networkd-wait-online@sys.service


[Service]
User=daemon

Environment="XDG_RUNTIME_DIR=/run/xdg"
Environment="WAYLAND_DISPLAY=wayland-1"

ExecStart=cog --config=/etc/cog.conf  http://sys
