[Unit]
StopWhenUnneeded=true
ConditionPathExists=/etc/hostapd/local.conf
After=network.target
Wants=hostapd-psk.service

[Service]
RuntimeDirectory=hostapd
ExecStartPre=-/usr/bin/sh -c 'cat /etc/hostapd/hostapd.conf /etc/hostapd/local.conf > /run/hostapd/hostapd.conf'
ExecStart=/usr/sbin/hostapd -g /run/hostapd/syswlan -i syswlan /run/hostapd/hostapd.conf
