[Unit]
DefaultDependencies=no
After=systemd-sysctl.service
Before=systemd-networkd.service
PartOf=systemd-networkd.service
RefuseManualStart=true

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=iptables
ExecStartPre=/usr/sbin/iptables-flush
ExecStart=iptables-restore --noflush /etc/iptables/rules.v4
ExecStart=find /etc/iptables/rules.v4.d -type f -exec iptables-restore --noflush "{}" \;
