[Service]
Type=oneshot
ExecStart=/bin/sh -o pipefail -c 'if [ "$(du -sm /var/log/journal/ | cut -f1)" -gt "1024" ]; then ls -1t /var/log/journal/*/*@* | tail -n1 | xargs -tr rm -f; else exit 0; fi'
