[Unit]
After=network.target

[Service]
ExecStart=/usr/bin/ssh -N -T  -R *:%i:localhost:22  remote@remote.4wiebe.de
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
