[Unit]
DefaultDependencies=no
After=local-fs.target
Before=basic.target
RequiresMountsFor=/var
RequiresMountsFor=/mnt/root
RequiresMountsFor=/mnt/init
ConditionPathExists=/mnt/init/.update

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/systemctl --no-block reboot
ExecStop=/usr/sbin/update-apply
TimeoutStopSec=1800
