[Unit]
StopWhenUnneeded=true
ConditionDirectoryNotEmpty=/etc/wpa_supplicant.conf.d
After=network.target

[Service]
Type=dbus
BusName=fi.w1.wpa_supplicant1
RuntimeDirectory=wpa_supplicant
ExecStartPre=-/usr/bin/sh -c 'cat /etc/wpa_supplicant.conf /etc/wpa_supplicant.conf.d/*.conf > /run/wpa_supplicant/wpa_supplicant.conf'
ExecStart=/usr/sbin/wpa_supplicant -u -i wlan -c /run/wpa_supplicant/wpa_supplicant.conf
