[Unit]
Wants=codesys-log.service
After=codesys-log.service

Wants=codemeter.service
After=codemeter.service

Before=app.service


[Service]
WorkingDirectory=/var/opt/codesys
RuntimeDirectory=codesys

StandardOutput=tty
TTYPath=/run/codesys-log/tty

CPUAffinity=1

#Ethernet over EtherCAT
Environment="RTS_EOE_DEV=tap3"

ExecStartPre=-/opt/codesys/scripts/select-application

Type=exec
ExecStart=/opt/codesys/bin/codesyscontrol.bin /etc/codesyscontrol/CODESYSControl.cfg
