[Unit]
Description=CodeMeter RunTime Server
After=network.target


[Service]
Type=notify
SyslogIdentifier=codemeter

User=daemon
Group=daemon

RuntimeDirectory=codemeter

ExecStartPre=cp -p /etc/wibu/CodeMeter/Server.ini.src /run/codemeter/Server.ini

ExecStart=CodeMeterLin -f -n-  #-v
