[Unit]
Wants=codesys-log.service
After=codesys-log.service

Wants=codemeter.service
After=codemeter.service

Before=app.service


[Service]
WorkingDirectory=/var/opt/codesys
RuntimeDirectory=codesys codesysextension

StandardOutput=tty
TTYPath=/run/codesys-log/tty

CPUAffinity=1

#Ethernet over EtherCAT
Environment="RTS_EOE_DEV=tap3"

ExecStartPre=-/opt/codesys/scripts/select-application
ExecStartPre=/bin/sh -c 'echo STOP > /var/opt/codesysextension/runstop.switch'

Type=exec
ExecStart=/opt/codesys/bin/codesyscontrol.bin /etc/codesyscontrol/CODESYSControl.cfg

# wait for plcshell
ExecStartPost=/bin/sh -c 'while [ ! -e /run/codesysextension/plcshell.sock ]; do sleep 1; done'
