[Unit]
After=network.target


[Service]
User=nobody
SupplementaryGroups=video
SupplementaryGroups=input

Environment=HOME=/var/webengine
ExecStartPre=+install -d -o nobody /var/webengine

ExecStartPre=-/usr/lib/systemd/systemd-networkd-wait-online --interface=sys:degraded-carrier --timeout=5
ExecStart=/usr/sbin/webengine --single-process --block-new-web-contents --disk-cache-dir=/dev/null --incognito


[Install]
WantedBy=multi-user.target
