{% extends "page.html" %}


{% block html %}
<p>
	<uploadButton params="upload:$model.importJournal, l10n:'extlog_import', css:'btn-primary'"></uploadButton>
	<button data-bind="click:clearJournal" class="btn" data-l10n-id="extlog_clear"></button>
</p>
{% module page("log.html") %}
{% end %}


{% block model %}
class {
	constructor(page) {
		this.page = page;
	}
	
	importJournal(file) {
		let formData = new FormData();
		formData.append('extlog', file);
		$.ajax({
			url: ajaxUrl('extlog'),
			type: "put",
			data: formData,
			processData: false,
			contentType: false,
		})
		.always(()=>{
			location.reload();
		});
	}
	
	clearJournal() {
		$.post(ajaxUrl('extlog'))
		.always(()=>{
			location.reload();
		});
	}
}
{% end %}


{% block route %}
	return 'log';
{% end %}
