[Match]
Name=sys

[Link]
RequiredForOnline=degraded-carrier

[Network]
Address=90.0.0.1/24
DHCPServer=yes
IPMasquerade=ipv4

[DHCPServer]
PoolOffset=200
PoolSize=50
EmitRouter=no
