[Match]
Name=sys

[Link]
RequiredForOnline=degraded-carrier

[Network]
ConfigureWithoutCarrier=yes
DHCPServer=yes
IPMasquerade=ipv4

[Address]
Address=90.0.0.1/24
DuplicateAddressDetection=none

[DHCPServer]
PoolOffset=200
PoolSize=50
EmitRouter=no
